.sidebar-container {
  width: 10px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--moonstone);
  overflow-x: hidden;
  transition: width 0.5s;

  &:hover,
  .show-calendar & {
    width: 1000px;
  }

  button {
    margin: 10px;
    padding: 5px;
  }
}

.caret-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 3em;
  color: var(--moonstone);
  position: fixed;
  top: 50%;
  left: -1px;
}

.calendar-container {
  display: none;

  .show-calendar & {
    display: block;
  }
}

.calendar-button {
  color: var(--flax);
  margin: 10px;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 30px;
}

.completed-list {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
